<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'css-variables' %}
    {% render 'meta-tags' %}
    {{ content_for_header }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    {% sections 'header-group' %}
    {{ content_for_layout }}
    {% sections 'footer-group' %}
    {{ 'bundle.js' | asset_url | script_tag | replace: '<script', '<script defer' }}
  </body>
</html>
